@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;

body {
  font-family: Arial, sans-serif;
  background-color: #f5f0e6; /* Light Beige */
  color: #333333; /* Dark Gray */
}

.container {
  max-width: 800px;
  margin: auto;
}

a {
  color: #0066cc; /* Blue */
}

.summary {
  background-color: #ffffff; /* White */
  border-color: #d3cbb8; /* Light Brown */
}
